  body.dark-mode {
    background-color: #121212;
    color: white;
  }

  body.dark-mode .card {
    background-color: #1e1e1e;
    color: #eee;
  }

  body.dark-mode .button {
    background-color: #444;
    color: #f9f9f9;
  }

  body.dark-mode #hero button.toggle {
    background: #333;
  }

  body.dark-mode #hero button.toggle::before {
    background: #444;
  }

  body.dark-mode #hero button.toggle i {
    color: #f9f9f9;
  }