/**MOBILE VIEW**/

@media (min-width:320px) and (max-width:480.99px) {
  .m-none {
    display: none !important;
  }

  .m-block {
    display: block !important;
  }

  p {
    font-size: 0.8rem;
    margin-bottom: 0.8rem;
  }

  /**---LOADER---**/

  #loader-wrap .loader {
    position: relative;
    width: 100px;
    height: 100px;
  }

  /**---HEADER---**/

  nav .navbar-nav {
    flex-direction: row;
  }

  nav .navbar-nav .nav-link {
    margin: 0;
    font-size: .8rem;
    font-weight: 900;
  }

  /**---HERO---**/

  #hero .container-xl {
    position: relative;
    top: 1rem;
    width: 92%;
    padding: 5px 0;
  }

  #hero button.toggle {
    left: 5%;
    width: 70px;
    height: 70px;
  }

  #hero button.toggle::before {
    width: 45px;
    height: 45px;
  }

  #hero button.toggle i {
    font-size: 30px;
  }

  #hero .bulb-off,
  #hero .bulb-on {
    bottom: 100%;
    left: -1%;
    font-size: 50px;
  }

  #hero .bulb-off::before,
  #hero .bulb-on::before {
    top: 3rem;
  }

  body.dark-mode #hero .bulb-on .lights {
    top: 6px;
    left: 25%;
    width: 25px;
    height: 25px;
  }

  #hero .hero-details {
    flex-direction: column-reverse;
  }

  #hero .hero-details .image {
    margin: 0 auto;
    text-align: center;
  }


  #hero .hero-details .image::before {
    top: 10%;
    left: 25%;
    width: 50%;
    height: 30%;
    border: 15px solid #007ba7;
  }

  #hero .hero-details .image img {
    width: 100%;
    height: 11.99rem;
    margin-top: 35px;
    object-position: 8px;
  }

  #hero .hero-details .inner-box {
    width: 100%;
  }

  #hero .hero-details .inner-box .sub-head {
    padding: 25px 15px;
    margin-top: 3rem;
  }

  #hero .hero-details .inner-box .sub-head h1 {
    font-size: 24px;
  }

  #hero .hero-details .inner-box .desc h2 {
    font-size: 25px;
    margin-left: 1rem;
  }

  #hero .hero-details .inner-box .desc .word:before {
    content: " ";
    position: absolute;
    left: 28%;
    top: 57%;
    width: 39%;
    height: 7%;
    background-color: #ffd045;
    border-left: 2px solid #007ba7;
    animation: animate 2s steps(10) infinite;
  }

  @keyframes animate {

    40%,
    60% {
      left: 55%;
    }

    100% {
      left: 27%;
    }
  }

  #hero .hero-details .inner-box .desc p {
    margin-left: 21px;
    margin-bottom: 0;
  }

  #hero .download {
    position: relative;
    flex-direction: column;
    justify-content: center;
    top: -2rem;
    left: 0;
  }

  #hero .download .explore,
  #hero .download .resume {
    width: 55%;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 1rem;
  }

  #hero .download .explore p,
  #hero .download .resume p {
    font-size: 0.9rem;
    text-align: center;
    width: 90%;
    margin: 0;
  }

  /**---ABOUT---**/

  #about .inside-box {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(9, 150px);
    gap: 0;
  }


  #about .about-images {
    grid-column-start: 1;
    grid-row-start: 6;
    width: 100%;
    height: 18rem;
  }

  #about .about-details {
    grid-column-start: 1;
    grid-row-start: 8;
    margin-top: 15px;
  }

  #about .about-details .heading {
    width: 100%;
  }

  #about .about-details .desc .slider .skill-slides {
    padding: 0;
    min-width: 0;
  }

  #about .about-details .desc .slider .skill-slides i {
    font-size: 8rem;
    margin: 0;
  }

  #about .about-details .desc .slider .skill-slides p.title {
    font-size: 2.5rem;
  }

  #about .about-details .desc .slider .skill-slides p.title.small {
    font-size: 2rem;
  }

  #about .about-details .desc .slider .skill-slides img {
    height: 120px;
  }

  #about .about-details .explore {
    position: absolute;
    top: 143.5rem;
    left: 49%;
    bottom: 0;
    width: 47%;
    height: 7%;

  }

  #about .about-details .desc {
    max-width: 330px;
    max-height: 180px;
    clip-path: path("M 0,0 L 310,0 A 20,20 0 0 1 330,20 L 330,90 A 20,20 0 0 1 310,110 L 170,110 A 10,10 0 0 0 160,120 L 160,170 A 10,10 0 0 1 150,180 L 10,180 A 10,10 0 0 1 0,170 L 0,10 A 10,10 0 0 1 10,0 Z");
  }

  #about .expertize {
    grid-column-start: 1;
    grid-row-start: 1;
    margin-top: 20px;
  }

  #about .expertize .heading {
    width: 95%;
    margin-bottom: 30px;
  }

  #about .expertize .desc-inside {
    position: relative;
    padding: 20px;
    background: #f2dfb9;
    margin-top: 15px;
    min-height: 605px;
    max-width: 340px;
    clip-path: path("M 0,0 L 320,0 A 20,20 0 0 1 340,20 L 340,290 L 340,525 A 20,20 0 0 1 320,545 L 155,545 A -4,4 0 0 0 0,378 L 0,525 L 0,20 A 20,20 0 0 1 20,0 Z");
  }

  #about .expertize .desc-inside p {
    font-size: 0.8rem;
    line-height: 1.5;
    color: #000;
  }

  #about .expertize .desc-inside .increasing-number {
    flex-direction: row;
    height: 0;
    padding: 0;
  }

  #about .expertize .desc-inside .increasing-number .num-box {
    display: flex;
    padding: 20px 0;
    align-items: center;
    flex-direction: column;
  }

  #about .expertize .desc-inside .increasing-number .num {
    width: 75%;
  }

  #about .expertize .desc-inside .increasing-number .text {
    font-size: 0.8rem;
    margin-left: 9px;
  }

  #about .more {
    grid-column-start: 1;
    grid-row-start: 5;
    width: 175px;
    height: 175px;
    left: 0;
    right: 0;
    bottom: 0;
    top: -60%;
  }

  #about .more .more-text {
    margin: 0;

    >span {
      inset: 7px;
    }
  }

  #about .more .more-circle {
    width: 100px;
    height: 100px;
    left: 23%;
    bottom: 1%;
  }

  #about .more .more-circle .arrow-diagonal {
    font-size: 4rem;
    font-weight: 900;
  }

  /**---SERVICES---**/

  #services .heading h3 {
    font-size: 2rem;
    padding: 10px 0;
    width: 60%;
  }

  #services .heading h3::before,
  #services .heading h3::after {
    content: "";
    position: absolute;
    bottom: -234%;
    width: 10px;
    height: 10px;
  }

  #services .heading h3::before {
    left: 10%;
  }

  #services .heading h3::after {
    right: 10%;
  }

  #services .card {
    margin: 0.5rem;
  }

  #services .card:hover {
    margin: 0.5rem;
  }

  #services .card .desc {
    padding: 10px;
  }

  /**---CONTACT---**/

  #contact .contact-details {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 78rem;
  }


  #contact .contact-details .form {
    position: relative;
    width: 85%;
    bottom: 10%;
  }

  #contact .contact-details .desc {
    position: relative;
    left: 7%;
    bottom: 10%;
    height: 340px;
  }

  #contact .contact-details .desc .details {
    width: 95%;
  }

  #contact .contact-details .desc img {
    position: relative;
    top: 20%;
    left: 0;
  }


  #contact .contact-details .desc .social-icon {
    margin: 0 5px;
  }

  /**---FOOTER---**/

  #particles-js {
    height: 670px;
  }

  #footer .row {
    width: 100%;
    left: 3%;
  }

  #footer .row .logo img {
    width: 50px;
    height: 50px;
  }

  #footer .row .logo .desc {
    margin-top: 1rem;
  }

  #footer .row .logo .desc p {
    font-size: 1.5rem;
  }

  #footer .row .footer-details .socials a {
    padding: 7px 10px;
    font-size: 0.99rem;
    margin: 0;
  }

  #footer .row .footer-details .socials a.facebook {
    padding: 5px 10px;
  }

  #footer .row .footer-details .socials a.github {
    padding: 7px 11px;
  }

  #footer .row .links {
    margin-top: 1.5rem;
    margin-left: 0;
  }

  #footer .row .links h5 {
    font-size: 1.29rem;
    padding-bottom: 0.29rem;
    width: 40%;
  }

  #footer .row .contact-details .address i,
  #footer .row .contact-details .email i,
  #footer .row .contact-details .number i {
    font-size: 1rem;
  }

  #footer .row .contact-details .address p {
    font-size: 0.8rem;
  }

  #footer .row .contact-details .email p {
    margin-top: 3px;
  }

  #footer .row .contact-details .number p {
    margin-top: 0;
  }

  /**---MODAL FORM---**/


  .modal .modal-content {
    width: 100%;
    background-size: 100% 100%;
  }

  .modal .modal-header {
    width: 100%;
  }

  .modal .modal-title {
    font-size: 1.5rem;
    border-radius: 6px;
    color: #000;
  }

  .modal form {
    width: 100%;
  }

  /**---DARK MODE---**/

  body.dark-mode .under-construction .content {
    flex-direction: column;
    margin: 2em 0;
  }

  body.dark-mode .under-construction .content .img img {
    width: 450px;
  }

  body.dark-mode .under-construction button {
    bottom: 15%;
  }

  body.dark-mode .under-construction .social {
    bottom: 6%;
  }

}

@media (max-width:479.99px) {
  #about .about-details .explore {
    position: relative;
    top: -3rem;
    height: 18%;
  }

  #services .heading h3::before,
  #services .heading h3::after {
    content: "";
    position: absolute;
    bottom: -230%;
  }
}


/*** TAB VIEW ***/

/** PORTRAIT MODE **/

@media (min-width:480px) and (max-width:768px) {

  /**--- HERO ---**/

  #hero .container-xl {
    width: 95%;
    margin-top: 3rem;
  }

  #hero button.toggle {
    width: 60px;
    height: 60px;
  }

  #hero button.toggle::before {
    width: 40px;
    height: 40px;
  }

  #hero button.toggle i {
    font-size: 25px;
  }

  #hero .bulb-off,
  #hero .bulb-on {
    position: absolute;
    top: -15%;
    left: -1%;
    filter: drop-shadow(-6px -6px 6px black);
  }

  #hero .hero-details .inner-box .sub-head h1 {
    font-size: 40px;
    width: 270px;
  }

  #hero .hero-details .image::before {
    content: "";
    position: absolute;
    top: 20%;
    left: 62%;
    width: 35%;
    height: 55%;
    border: 20px solid #007ba7;
  }


  #hero .hero-details .image img {
    position: relative;
    left: 15%;
    width: 100%;
    height: 16rem;
    object-fit: contain;
    z-index: -1;
  }


  #hero .hero-details {
    align-items: center;
  }

  #hero .hero-details .inner-box .desc p {
    white-space: nowrap;
  }

  #hero .download {
    top: 85%;
    left: -3%;
  }

  #hero .hero-details .inner-box .desc .word:before {
    left: 10%;
    top: 60%;
    width: 25%;
    animation: animate 3s steps(12) infinite;
  }

  @keyframes animate {

    40%,
    60% {
      left: 36%;
    }

    100% {
      left: 9%;
    }
  }

  /**--- ABOUT ---**/
  #about .inside-box {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(9, 150px);
    gap: 0;
    padding: 1rem;
  }

  #about .about-images {
    grid-column-start: 1;
    grid-row-start: 1;
    width: 90%;
    height: auto;
    justify-self: center;
  }

  #about .about-details {
    grid-column-start: 1;
    grid-row-start: 9;
    margin-top: 1rem;
  }

  #about .about-details .desc {
    max-width: 600px;
    clip-path: path("M 0,0 L 580,0 A -20,20 0 0 1 600,20 L 600,105 A -20,20 0 0 1 580,125 L 340,125 A -20,20 0 0 0 320, 145 L 320,160 A -20,20 0 0 1 300,180 L 210,180 L 20,180 A -20,20 0 0 1 0,160 L 0,20 A -20,20 0 0 1 20,0 Z");
  }

  #about .about-details .explore {
    left: 53%;
    bottom: 14%;
    width: 42%;
  }

  #about .about-details .explore a {
    width: 100%;
  }

  #about .expertize {
    grid-column-start: 1;
    grid-row-start: 4;
    margin-top: 1rem;
  }

  #about .expertize .desc {
    margin-top: 1rem;
  }

  #about .expertize .desc-inside {
    width: 630px;
    clip-path: path("M 0,0 L 610,0 A 25,20 0 0 1 630,20 L 630,350 L 630,585 A 20,20 0 0 1 610,605 L 270,605 A 1,-1 0 0 0 0,360 L 0,20 A 20,20, 0 0 1 20,0 Z");
  }

  #about .expertize .desc-inside .increasing-number .num-box {
    flex-direction: row-reverse;
  }

  #about .expertize .desc-inside .increasing-number .num {
    margin-left: 15px;
  }

  #about .more {
    position: relative;
    grid-column: 1;
    grid-row: 7;
    bottom: -3%;
    right: 0;
    width: 290px;
    height: 290px;
  }

  #about .more .more-circle {
    width: 200px;
    height: 200px;
    left: 16%;
  }

  /**--- SERVICES ---**/

  #services .heading h3::before,
  #services .heading h3::after {
    bottom: -228.5%;
  }

  #services .heading h3::before {
    left: 20%;
  }

  #services .heading h3::after {
    right: 20%;
  }


  /**--- CONTACT ---**/

  #contact .contact-details {
    width: 69%;
    height: 1200px;
    flex-direction: column;
  }

  #contact .contact-details .form {
    position: relative;
    width: 85%;
    bottom: 10%;
  }

  #contact .contact-details .desc {
    position: relative;
    left: 8%;
    width: 83%;
    bottom: 14%;
    height: 340px;
  }

  #contact .contact-details .desc .details {
    width: 95%;
  }

  #contact .contact-details .desc .email,
  #contact .contact-details .desc .phone,
  #contact .contact-details .desc .address {
    margin-bottom: 15px;
  }


  #contact .contact-details .desc .socials {
    margin-top: 45px;
  }

  #contact .contact-details .desc img {
    position: relative;
    top: 10%;
    left: 0;
  }

  /**--- FOOTER ---**/
  #footer .row {
    left: 2%;
    width: 100%;
  }

  #footer .row .logo img {
    width: 60px;
    height: 60px;
  }

  #footer .row .logo .desc p {
    font-size: 1rem;
    line-height: 25px;
    white-space: nowrap;
  }

  #footer .row .logo .desc p.small {
    position: static;
    font-size: 0.99rem;
    font-weight: 500;
    margin: 0;
  }

  #footer .row .footer-details .logo-desc {
    font-size: 0.8rem;
  }

  #footer .row .links {
    width: 100%;
    margin-left: 2rem;
  }

  #footer .row .links h5 {
    font-size: 1rem;
    width: 42%;
    padding-top: 10px;
  }

  #footer .row .links li a {
    font-size: 0.8rem;
  }

  #footer .row .footer-details .socials {
    margin: 46px 0 0;
  }

  #footer .row .footer-details .socials a {
    padding: 10px;
    margin: 0 7px 0;
    font-size: 1rem;
  }

  #footer .row .contact-details .address i,
  #footer .row .contact-details .email i,
  #footer .row .contact-details .number i {
    font-size: 1rem;
    margin: 10px 1rem;
  }

  #footer .row .contact-details {
    margin: 30px -20px 0;
  }

  #footer .row .contact-details .address {
    margin-top: 10px;
  }

  #footer .row .contact-details .email {
    margin-top: 10px;
  }

  #footer .row .contact-details .number {
    margin-top: 10px;
  }

  #footer .row .contact-details .address p,
  #footer .row .contact-details .email p,
  #footer .row .contact-details .number p {
    font-size: 0.8rem;
  }

  #footer .row .contact-details .email p {
    margin-top: 7px;
  }

  #footer .row .contact-details .number p {
    margin-top: 7px;
  }

  /**-- DARK MODE ---**/
  body.dark-mode .under-construction .content {
    margin: 2rem 0;
  }

  body.dark-mode .under-construction .content {
    flex-direction: column;
  }

  body.dark-mode .under-construction button {
    position: absolute;
    bottom: 12%;
  }

  body.dark-mode .under-construction .social {
    bottom: 4%;
  }

  body.dark-mode .scroll-to-top.show {
    display: none;
  }
}