*,
a {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

ul {
  padding-left: 1rem;
}

li {
  padding: 0.2rem;
}

textarea {
  resize: none;
  height: 100px;
  border-radius: 26px;
}

/* * {
  border: 1px solid #e1306c;
} */

body.light-mode {
  font-family: "Share Tech", sans-serif;
  background: #ffe085;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.navbar-nav .nav-link.active {
  color: #004ac1;
  font-weight: 900;
}

::-webkit-scrollbar {
  width: 15px;
  height: 0px;
}


::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(360deg, #ffadad 2.7%, #ffd6a5 15.1%, #fdffb6 29.5%, #caffbf 45.8%, #9bf6ff 61.5%, #a0c4ff 76.4%, #bdb2ff 92.4%);
  border-radius: 5px;
  border: 3px solid #f0f0f0;

}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(360deg, #ff8383 2.7%, #f9ca91 15.1%, #f9fd93 29.5%, #b7fda9 45.8%, #85f2fc 61.5%, #8cb6fa 76.4%, #b1a4fb 92.4%);
  border: 4px solid #f0f0f0;
}

/***********----------------------------------------------------------------------------------**************/

header {
  position: sticky;
  top: 0;
  background: #ffe7ca;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: all 0.3s ease-in-out;
  z-index: 1203;
}

header a {
  display: flex;
  align-items: center;
}

header a img {
  width: 50px;
  height: 50px;
}

header a span {
  margin-left: 1rem;
  font-size: 1.95rem;
  font-weight: 900;
}

header .navbar-nav {
  align-items: center;
  margin: 0 5rem 0 0;
}

header .navbar-nav .nav-link {
  margin: 0 1.5rem;
  font-size: 1.55rem;
  font-weight: 900;
}

header .navbar-nav button {
  background: #004ac1;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  color: white;
  border: none;
  font-size: 1.35rem;
  font-weight: 900;
  padding: 10px 20px;
  border-radius: 30px;
  margin-left: 2rem;
}

header .navbar-nav button:hover {
  background: #002b76;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

header .social {
  display: flex;
  align-items: center;
}

header .social a {
  margin: 0 0.5rem;
  font-size: 1.35rem;
  font-weight: 900;
}

header .social a i {
  filter: grayscale(100%);
  font-size: 25px;
}

header .social a i.facebook:hover {
  filter: grayscale(0%);
  color: #1877f2;
}

header .social a i.instagram:hover {
  filter: grayscale(0%);
  color: #e1306c;
}

header .social a i.linkedin:hover {
  filter: grayscale(0%);
  color: #0077b5;
}

header .social a i.github:hover {
  filter: grayscale(0%);
  color: #333;
}

#hero {
  padding: 45px 0;
}

#hero .container-xl {
  padding: 50px 0;
  background: #ffbf007a;
  border: 2px solid #00000033;
  backdrop-filter: blur(20px);
  border-radius: 16px;
}

#hero button.toggle {
  position: absolute;
  display: flex;
  align-items: center;
  left: 5%;
  width: 100px;
  height: 100px;
  border: none;
  border-radius: 50%;
  background: linear-gradient(90deg, rgba(255, 150, 102, 1) 16%, rgba(255, 173, 41, 1) 83%);
  box-shadow: inset -2px -2px 9px #00000047, inset -2px 16px 12px #3939397d;
}

#hero button.toggle::before {
  content: "";
  position: absolute;
  justify-self: anchor-center;
  align-self: anchor-center;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#hero button.toggle i {
  position: absolute;
  justify-self: anchor-center;
  align-self: center;
  font-size: 45px;
  color: #ffc107;
}

#hero .hero-details {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 55px 0;
}

#hero .hero-details .inner-box {
  width: 35%;
}

#hero .hero-details .inner-box .sub-head {
  padding: 25px 0;
}

#hero .hero-details .inner-box .sub-head h1 {
  font-size: 60px;
}

#hero .hero-details .inner-box .desc h2 {
  padding: 0 0 15px;
  font-size: 40px;
  font-weight: 900;
}

#hero .hero-details .inner-box .desc p {
  font-size: 20px;
}

#hero .hero-details .inner-box .desc .word {
  color: #0d6efd;
}

#hero .hero-details .inner-box .desc .word:before {
  content: " ";
  position: absolute;
  left: 19%;
  top: 56%;
  width: 15%;
  height: 9%;
  background-color: #ffd045;
  border-left: 2px solid #007ba7;
  animation: animate 4s steps(12) infinite;
}

@keyframes animate {

  40%,
  60% {
    left: 33%;
  }

  100% {
    left: 20%;
  }
}

#hero .hero-details .image img {
  width: 100%;
  height: 28rem;
  object-fit: cover;
}

#hero .hero-details .image::before {
  content: "";
  position: absolute;
  top: 5%;
  left: 60%;
  width: 30%;
  height: 81%;
  border: 30px solid #007ba7;
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#hero .download {
  position: absolute;
  display: flex;
  top: 80%;
  left: 5%;
}

#hero .download .explore,
#hero .download .resume {
  display: flex;
  background: #94e1fe;
  padding: 10px;
  border: 1px solid #000;
  border-radius: 16px;
  color: #000;
  margin-left: 5rem;
  font-size: 1.1rem;
  box-shadow: #000 11px 9px 0px;
  transition: all 0.4s ease-in-out;
}

#hero .download .resume {
  background: #31ffee;
}

#hero .download .explore:hover,
#hero .download .resume:hover {
  box-shadow: #000 0px 0px 0px;
}

#hero .download .explore i {
  margin-bottom: 10px;
  margin-left: 5px;
}

#about {
  padding-top: 80px;
}

#particles-js {
  position: absolute;
  left: -10%;
  width: 104.5rem;
  height: 90%;
  z-index: -1;
}

#about .inside-box {
  display: grid;
  grid-template-columns: repeat(5, 250px);
  grid-template-rows: repeat(5, 135px);
  gap: 10px;
  padding-top: 1.5rem;
}

#about .about-images {
  position: relative;
  grid-column: span 2 / span 2;
  grid-row: span 3 / span 3;
  background: #111;
  width: 30rem;
  height: 26rem;
  border-radius: 24px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#about .about-images:hover {
  cursor: pointer;
  box-shadow: none;
}

@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}

#about .about-images:hover::before,
#about .about-images:hover::after {
  content: '';
  position: absolute;
  background: conic-gradient(from var(--angle), transparent 75%, #4797ff);
  height: 27rem;
  width: 31rem;
  inset: -8px;
  border-radius: 24px;
  z-index: -1;
  animation: 3s spin linear infinite;
}

#about .about-images:hover::before {
  filter: blur(1.5rem);
  opacity: 0.5;
}

@keyframes spin {
  from {
    --angle: 0deg;
  }

  to {
    --angle: 360deg;
  }
}



#about .about-images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 24px;
}

#about .about-details {
  grid-column: span 2 / span 2;
  grid-row: span 2 / span 2;
  grid-column-start: 1;
  grid-row-start: 4;
  margin-top: 15px;
  filter: drop-shadow(4px 6px 6px black);
}

#about .about-details:hover {
  filter: drop-shadow(0 0 0 #0dcaf0);
}

#about .about-details .heading {
  display: flex;
  position: absolute;
  background: #0dcaf0;
  left: 1rem;
  bottom: 88%;
  width: 56%;
  border-radius: 5px;
}

#about .about-details .heading h5 {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 5px;
  color: #00132C;
}

#about .about-details .heading i {
  margin-top: 6px;
  font-size: 28px;
  margin-left: 150px;
  color: #6c6c6c;
}

#about .about-details:hover .heading i {
  color: #004ac1;
}

#about .about-details .desc {
  position: relative;
  padding: 30px;
  background: #0dcaf0;
  max-width: 475px;
  max-height: 250px;
  clip-path: path("M 20,45 L 300,45 A 10,10 0 0 0 310,35 L 310,20 A 10,10 0 0 1 320,10 L 465,10 A 10,10 0 0 1 475,20 L 475,240 A 10,10 0 0 1 465,250 L 20,250 A 10,10 0 0 1 10,240 L 10,60 A 10,12 0 0 1 20,45 Z");
}

#about .about-details .desc p {
  margin-top: 40px;
}

#about .expertize {
  grid-column: span 3 / span 3;
  grid-row: span 5 / span 5;
  grid-column-start: 3;
  grid-row-start: 1;
}

#about .expertize .heading {
  display: flex;
  justify-content: center;
  padding: 15px;
  background: #007BA7;
  border: 2px solid #007BA7;
  border-radius: 26px;
}

#about .expertize .heading h5 {
  font-size: 1.9rem;
  font-weight: 900;
}

#about .expertize .heading i {
  position: relative;
  left: 3%;
  bottom: 5px;
  padding: 10px;
  font-size: 28px;
  color: #003385;
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

#about .expertize .desc {
  display: grid;
  position: relative;
  grid-template-columns: repeat(3, 250px);
  grid-template-rows: repeat(3, 160px);
  gap: 20px;
  padding: 20px;
  background: #007BA7;
  margin-top: 15px;
  min-height: 605px;
  width: 750px;
  clip-path: path("M 40,80 L 200,80 A 10,10 0 0 0 210,70 L 210,20 A 10,10 0 0 1 220,10 L 740,10 A 10,10 0 0 1 750,20 L 750,515 A 10,10 0 0 1 740,530 L 500,530 A 10,10 0 0 0 490,540 L 490,595 A 10,10 0 0 1 480,605 L 40,605 A 10,10 0 0 1 30,595 L 30,90 A 10,10 0 0 1 40,80 Z");
}

#about .expertize .desc p {
  position: absolute;
  left: 45%;
  margin-top: 15px;
}

#about .expertize .desc .slider {
  position: absolute;
  top: 7rem;
  width: 100%;
  height: 90px;
  margin: 0 auto;
  background: #f0f0f0;
}

#about .expertize .desc .slider .skill-slides {
  padding: 5.5px 0;
  width: 100%;
  height: auto;
  display: block;
}

#about .expertize .desc .slider .skill-slides i {
  font-size: 4.5rem;
  margin: 0 1rem;
  transition: all 0.3s ease-in-out;
  filter: grayscale(100%);
}

#about .expertize .desc .slider .skill-slides img {
  width: 100px;
  height: 75px;
  transition: all 0.3s ease-in-out;
  filter: grayscale(100%);
}

.slick-next:before,
.slick-prev:before {
  display: none;
}

#about .expertize .desc .slider .skill-slides img:hover {
  transform: scale(1.1);
  filter: grayscale(0%);
}

#about .expertize .desc .slider .skill-slides i:hover {
  transform: scale(1.1);
  filter: grayscale(0%);
}

#about .expertize .desc .slider .skill-slides i.fa-html5:hover {
  color: #e34c26;
}

#about .expertize .desc .slider .skill-slides i.fa-css3-alt:hover {
  color: #1572B6;
}

#about .expertize .desc .slider .skill-slides i.fa-square-js:hover {
  color: #e9ce00;
}

#about .expertize .desc .slider .skill-slides i.fa-bootstrap:hover {
  color: #563d7c;
}

#about .expertize .desc .slider .skill-slides i.fa-react:hover {
  color: #00c8ff;
}

#about .expertize .desc .slider .skill-slides i.fa-github:hover {
  color: #565555;
}

#about .expertize .desc .bars {
  display: flex;
  position: absolute;
  left: 5%;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  grid-row-start: 2;
  margin-top: 20px;
}

#about .expertize .desc .bars .details {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 20px 0;
}

#about .expertize .desc .bars .details .circular-bar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: conic-gradient(#aea0fc 5deg, #4797ff 10deg, #6DCFF6 15deg, #b2faa3 20deg, #fbff82 25deg, #ffbc6a 30deg, #ff677d 35deg, #f0f0f0 0deg);
}

#about .expertize .desc .bars .details .circular-bar::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 85px;
  height: 85px;
  background: #61d2e1;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

#about .expertize .desc .bars .details .circular-bar .progress-percent {
  position: relative;
}

#about .expertize .desc .bars .details .circular-bar .progress-text {
  position: relative;
}

#about .more {
  position: relative;
  padding: 20px;
  top: 3.3rem;
  right: 10%;
  height: 67px;
  width: 100%;
  border-radius: 10px;
  grid-column-start: 5;
  grid-row-start: 5;
  background: #61d2e1;
}

#services {
  padding: 55px 0;
}

#services .heading {
  padding: 40px 0;
  text-align: center;
}

#services .heading h3 {
  justify-self: center;
  font-size: 3rem;
  font-weight: 900;
  border: 5px solid #007ba7;
  border-radius: 10px 26px;
  width: 35%;
}

#services .heading h3::before,
#services .heading h3::after {
  content: "";
  position: absolute;
  bottom: -113.5%;
  width: 15px;
  height: 15px;
  background: #007ba7;
  border-radius: 50%;
}

#services .heading h3::before {
  left: 30%;
}

#services .heading h3::after {
  right: 30%;
}

#services .services-pic {
  width: 100%;
  height: auto;
  overflow: hidden;
}

#services .services-pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#services .card {
  width: 90%;
  padding: 20px;
  box-shadow: #000 20px 14px 0px;
  border: 2px solid #000;
  border-radius: 16px;
  transition: all 0.3s ease-in-out;
}

#services .card:hover {
  border: none;
  box-shadow: #000 0px 0px 0px;
  background: #e9ce00;
}

#services .card .display {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

#services .card .display img {
  width: 70%;
  height: 230px;
  object-fit: contain;
}

#services .card .desc {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #f0f0f0;
  padding: 20px;
  border: 2px solid #000;
  border-radius: 16px;
  transition: all 0.1s ease-in-out;
  opacity: 0;
}

#services .card:hover .desc {
  opacity: 1;
}

#services .card .desc .logo {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 10px;
}

#services .card .desc .logo .logo-img {
  display: flex;
  background: #e9ce00;
  width: 55px;
  height: 55px;
  border: 1px dotted #000;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}

#services .card .desc .logo img {
  width: 35px;
  height: 35px;
}

#services .card .desc .logo h5 {
  font-size: 1.2rem;
  font-weight: 600;
  color: #333;
}

#projects {
  padding: 35px 0;
}

#projects .heading {
  padding: 40px 0;
  text-align: center;
}

#projects .heading h3 {
  justify-self: center;
  font-size: 3rem;
  font-weight: 900
}

#contact {
  padding: 55px 0 70px;
  background-image: url(../images/contact/contact-bg.jpg);
}

#contact .contact-details {
  display: flex;
  justify-content: center;
  justify-self: center;
  align-items: center;
  width: 70%;
  background: #ffffff6b;
  backdrop-filter: blur(8px);
  border: 2px solid #6c757d70;
  border-radius: 24px;
}

#contact .contact-details .form {
  padding: 25px;
  margin: 25px;
  width: 70%;
}

#contact .contact-details .form h5 {
  font-size: 3rem;
  font-weight: 900;
}

#contact .contact-details .form p {
  font-size: 1rem;
  line-height: 0;
  margin: 0 0 20px;
}

#contact .contact-details {
  display: flex;
}

#contact .contact-details .form .form-label {
  margin-top: 1rem;
  margin-bottom: 0.2rem;
}

#contact .contact-details .form button {
  width: 95%;
  margin-left: 0.5rem;
  margin-top: 1rem;
  padding: 12px 24px;
  border: none;
  border-radius: 26px;
  background: #007ba7;
}

#contact .contact-details .desc {
  align-self: start;
  margin-top: 25px;
  background: #ffc107;
  padding: 25px;
  margin-right: 35px;
  border: 2px solid #6c757d70;
  border-radius: 26px;
}

#contact .contact-details .desc h5 {
  font-size: 2rem;
  font-weight: 900;
  line-height: 1.2;
}

#contact .contact-details .desc img {
  position: absolute;
  top: 50%;
  left: 25%;
  width: 100%;
  height: 365px;
  object-fit: contain;
}

#contact .contact-details .desc .email,
#contact .contact-details .desc .phone,
#contact .contact-details .desc .address {
  display: flex;
}

#contact .contact-details .desc .email {
  margin-top: 20px;
}

#contact .contact-details .desc .email i {
  font-size: 1.4rem;
  margin-top: 3px;
  margin-right: 10px;
  color: #004ac1;
}

#contact .contact-details .desc .details .address img {
  position: static;
  width: 10%;
  height: 30px;
}

#contact .contact-details .desc .phone i {
  font-size: 1.5rem;
  margin-top: 3px;
  margin-right: 10px;
  transform: rotate(12deg);
  color: #004ac1;
}


#contact .contact-details .desc .socials {
  margin-top: 20px;
}

#contact .contact-details .desc .social-icon {
  margin: 10px;
}

#contact .contact-details .desc .facebook {
  background: #3b5998;
  color: #fff;
  border-radius: 50%;
  padding: 10px 15px;
}

#contact .contact-details .desc .instagram {
  background: linear-gradient(to right, #833ab4, #fd1d1d, #fcb045);
  color: #fff;
  border-radius: 50%;
  padding: 11px 10px;
}

#contact .contact-details .desc .instagram i {
  position: relative;
  font-size: 1.5rem;
  top: 3px;
}

#contact .contact-details .desc .linkedin {
  background: #0077b5;
  color: #fff;
  border-radius: 50%;
  padding: 11px 10px;
}

#contact .contact-details .desc .linkedin i {
  position: relative;
  font-size: 1.5rem;
  top: 3px;
}

#contact .contact-details .desc .github {
  background: #333;
  color: #fff;
  border-radius: 50%;
  padding: 11px 10px;
}

#contact .contact-details .desc .github i {
  position: relative;
  font-size: 1.5rem;
  top: 3px;
}

.scroll-to-top {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  border: 1px solid;
  background: linear-gradient(90deg, rgba(206, 133, 246, 1) 0%, rgba(132, 162, 245, 1) 19%, rgba(132, 208, 245, 1) 39%, rgba(127, 248, 164, 1) 61%, rgba(255, 255, 131, 1) 81%, rgba(250, 128, 148, 1) 100%);
  box-shadow: #000 6px 6px 15px;
  cursor: pointer;
  opacity: 0;
  z-index: 9999;
}

.scroll-to-top:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0 0;
}

.scroll-to-top.show {
  opacity: 1;
  pointer-events: auto;
}

.scroll-to-top i {
  font-size: 3rem;
  color: #4f4f4f;
  transition: all 0.3s ease-in-out;
}