*,
a {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

ul {
  padding-left: 1rem;
}

li {
  padding: 0.2rem;
}

textarea {
  resize: none;
  height: 100px;
  border-radius: 26px;
}

p {
  margin: 0;
}

/* * {
  border: 1px solid #e1306c;
} */

body {
  font-family: "Share Tech", sans-serif;
  background: #ffe085;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

::-webkit-scrollbar {
  width: 15px;
  height: 0px;
}

::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(360deg, #ffadad 2.7%, #ffd6a5 15.1%, #fdffb6 29.5%, #caffbf 45.8%, #9bf6ff 61.5%, #a0c4ff 76.4%, #bdb2ff 92.4%);
  border-radius: 5px;
  border: 3px solid #f0f0f0;

}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(360deg, #ff8383 2.7%, #f9ca91 15.1%, #f9fd93 29.5%, #b7fda9 45.8%, #85f2fc 61.5%, #8cb6fa 76.4%, #b1a4fb 92.4%);
  border: 4px solid #f0f0f0;
}

/***********----------------------------------------------------------------------------------**************/

#loader-wrap {
  position: absolute;
  display: flex;
  top: 0;
  width: 100%;
  height: 100%;
  background: #ffe085;
  z-index: 9999;
  justify-content: center;
  align-items: center;
}

#loader-wrap .loader {
  position: relative;
  width: 250px;
  height: 250px;
  background: linear-gradient(360deg, #fb6262 2.7%, #fec47c 15.1%, #faff74 29.5%, #9aff85 45.8%, #5ef2ff 61.5%, #78acff 76.4%, #a190ff 92.4%);
  transform: rotateX(65deg) rotate(45deg);
  color: #ffffffa5;
  animation: layers1 5s linear infinite alternate;
}

.loader:after {
  content: '';
  position: absolute;
  inset: 0;
  background: #ffffffa5;
  animation: layerTr 1s linear infinite alternate;
}

@keyframes layers1 {
  0% {
    box-shadow: 0px 0px 0 0px;
    transform: rotate(0);
  }

  90%,
  100% {
    box-shadow: 100px 100px 0 -4px;
    transform: rotate(360deg);
  }
}

@keyframes layerTr {
  0% {
    transform: translate(0, 0) scale(1);
  }

  100% {
    transform: translate(-100px, -100px) scale(1);
  }
}



/*----------------------------------------------------------------------------------***************/

nav {
  position: sticky !important;
  top: 0;
  background: #ffe7ca;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: all 0.3s ease-in-out;
  z-index: 1203;
}

nav a {
  display: flex;
  align-items: center;
}

nav a img {
  width: 50px;
  height: 50px;
}

nav a span {
  margin-left: 1rem;
  font-size: 1.95rem;
  font-weight: 900;
}

nav .navbar-nav {
  align-items: center;
  margin: 0 5rem 0 0;
}

nav .navbar-nav .nav-link {
  margin: 0 1.5rem;
  font-size: 1.55rem;
  font-weight: 900;
  padding: 10px;
  border-radius: 8px;
}

nav .navbar-nav .nav-link:active {
  box-shadow: inset -2px -2px 9px #00000047, inset -2px 16px 12px #3939397d;
}

nav .navbar-nav button {
  background: #004ac1;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  color: white;
  border: none;
  font-size: 1.35rem;
  font-weight: 900;
  padding: 10px 20px;
  border-radius: 30px;
  margin-left: 2rem;
}

nav .navbar-nav button:hover {
  background: #002b76;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

nav .social {
  display: flex;
  align-items: center;
}

nav .social a {
  margin: 0 0.5rem;
  font-size: 1.35rem;
  font-weight: 900;
}

nav .social a i {
  filter: grayscale(100%);
  font-size: 25px;
}

nav .social a i.facebook:hover {
  filter: grayscale(0%);
  color: #1877f2;
}

nav .social a i.instagram:hover {
  filter: grayscale(0%);
  color: #e1306c;
}

nav .social a i.linkedin:hover {
  filter: grayscale(0%);
  color: #0077b5;
}

nav .social a i.github:hover {
  filter: grayscale(0%);
  color: #333;
}

#hero {
  padding: 45px 0;
}

#hero .container-xl {
  padding: 50px 0;
  background: #ffbf007a;
  border: 2px solid #00000033;
  backdrop-filter: blur(20px);
  border-radius: 16px;
}

#hero .bulb-off,
#hero .bulb-on {
  position: absolute;
  top: 0%;
  left: -7%;
  font-size: 70px;
  font-weight: 900;
  color: #ff5000;
  transform: rotate(180deg);
}

#hero .bulb-on {
  display: none;
}

#hero .bulb-off::before,
#hero .bulb-on::before {
  content: "";
  position: absolute;
  justify-self: anchor-center;
  top: 94%;
  width: 3px;
  height: 100px;
  border: 4px dashed #ff5000;
  z-index: -1;
}

#hero button.toggle {
  position: absolute;
  display: flex;
  align-items: center;
  left: 5%;
  width: 100px;
  height: 100px;
  border: none;
  border-radius: 50%;
  background: linear-gradient(90deg, rgba(255, 150, 102, 1) 16%, rgba(255, 173, 41, 1) 83%);
  box-shadow: inset -2px -2px 9px #00000047, inset -2px 16px 12px #3939397d;
}

#hero button.toggle::before {
  content: "";
  position: absolute;
  justify-self: anchor-center;
  align-self: anchor-center;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#hero button.toggle i {
  position: absolute;
  justify-self: anchor-center;
  align-self: center;
  font-size: 45px;
  color: #ffc107;
}

#hero .hero-details {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 55px 0;
}

#hero .hero-details .inner-box {
  width: 35%;
}

#hero .hero-details .inner-box .sub-head {
  padding: 25px 0;
}

#hero .hero-details .inner-box .sub-head h1 {
  font-size: 60px;
}

#hero .hero-details .inner-box .desc h2 {
  padding: 0 0 15px;
  font-size: 40px;
  font-weight: 900;
}

#hero .hero-details .inner-box .desc p {
  font-size: 20px;
}

#hero .hero-details .inner-box .desc .word {
  color: #0d6efd;
}

#hero .hero-details .inner-box .desc .word:before {
  content: " ";
  position: absolute;
  left: 19%;
  top: 57%;
  width: 15%;
  height: 8%;
  background-color: #ffd045;
  border-left: 2px solid #007ba7;
  animation: animate 4s steps(12) infinite;
}

@keyframes animate {

  40%,
  60% {
    left: 33%;
  }

  100% {
    left: 29%;
  }
}

#hero .hero-details .image img {
  width: 100%;
  height: 28rem;
  object-fit: cover;
}

#hero .hero-details .image::before {
  content: "";
  position: absolute;
  top: 5%;
  left: 60%;
  width: 30%;
  height: 81%;
  border: 30px solid #007ba7;
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#hero .download {
  position: absolute;
  display: flex;
  top: 80%;
  left: 5%;
}

#hero .download .explore,
#hero .download .resume {
  display: flex;
  background: #94e1fe;
  padding: 10px;
  border: 1px solid #000;
  border-radius: 16px;
  color: #000;
  margin-left: 5rem;
  font-size: 1.1rem;
  box-shadow: #000 11px 9px 0px;
  transition: all 0.1s ease-in-out;
}

#hero .download .resume {
  background: #31ffee;
}

#hero .download .explore:hover,
#hero .download .resume:hover {
  box-shadow: #000 0px 0px 0px;
}

#hero .download .explore i {
  margin-bottom: 10px;
  margin-left: 5px;
}

#about {
  padding-top: 80px;
}

#about .inside-box {
  display: grid;
  grid-template-columns: repeat(5, 250px);
  grid-template-rows: repeat(5, 135px);
  gap: 10px;
  padding-top: 1.5rem;
}

#about .about-images {
  position: relative;
  grid-column: span 2 / span 2;
  grid-row: span 3 / span 3;
  background: #111;
  width: 30rem;
  height: 26rem;
  border-radius: 24px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#about .about-images:hover {
  cursor: pointer;
  box-shadow: none;
}

/* @property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}

#about .about-images:hover::before,
#about .about-images:hover::after {
  content: '';
  position: absolute;
  background: conic-gradient(from var(--angle), transparent 75%, #4797ff);
  height: 27rem;
  width: 31rem;
  inset: -8px;
  border-radius: 24px;
  z-index: -1;
  animation: 3s spin linear infinite;
}

#about .about-images:hover::before {
  filter: blur(1.5rem);
  opacity: 0.5;
}

@keyframes spin {
  from {
    --angle: 0deg;
  }

  to {
    --angle: 360deg;
  }
} */


#about .about-images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 24px;
}

#about .about-details {
  grid-column: span 2 / span 2;
  grid-row: span 2 / span 2;
  grid-column-start: 1;
  grid-row-start: 4;
  margin-top: 15px;
}

#about .about-details .heading {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 95%;
  border-radius: 1rem;
  border: 1px solid #000;
  background: #e7d9cc;
  box-shadow: #495057 5px 5px 0;
}

#about .about-details .heading h5 {
  font-size: 3rem;
  font-weight: 600;
  margin: 5px;
  color: #00132C;
}

#about .about-details .heading .medal {
  margin-top: 6px;
  font-size: 3rem;
  font-weight: 900;
  color: #222e3a;
}

#about .about-details .out-desc {
  filter: drop-shadow(10px 10px 0 #000);
  transition: all 0.3s ease-in-out;
}

#about .about-details .out-desc:hover {
  filter: drop-shadow(0px 0px 0px #000);
}

#about .about-details .desc {
  position: relative;
  padding: 15px;
  background: #f7f0e7;
  max-width: 475px;
  min-height: 180px;
  margin-top: 15px;
  clip-path: path("M 0,0 L 455,0 A -20,20 0 0 1 475,20 L 475,105 A -20,20 0 0 1 455,125 L 240,125 A -20,20 0 0 0 230, 140 L 230,165 A -20,20 0 0 1 210,180 L 210,180 L 20,180 A -20,20 0 0 1 0,160 L 0,20 A -20,20 0 0 1 20,0 Z");
}


#about .about-details .desc .slider .skill-slides {
  display: flex;
  justify-content: space-evenly;
  padding: 5.5px 1rem;
  min-width: 325px;
}

#about .about-details .desc .slider .skill-slides i {
  position: relative;
  right: 8%;
  font-size: 9rem;
  margin: 0 2rem;
  transition: all 0.3s ease-in-out;
  filter: grayscale(100%);
}

#about .about-details .desc .slider .skill-slides p.title {
  font-size: 3.5rem;
  font-weight: 900;
  margin: 0 -15px;
}

#about .about-details .desc .slider .skill-slides img {
  position: relative;
  right: 10%;
  width: 130px;
  height: 135px;
  transition: all 0.3s ease-in-out;
  filter: grayscale(100%);
}

#about .about-details .desc .slider .skill-slides.c img {
  right: 5%;
}

.slick-next:before,
.slick-prev:before {
  display: none;
}

#about .about-details .out-desc:hover .slider .skill-slides img {
  transform: scale(1.1);
  filter: grayscale(0%);
}

#about .about-details .out-desc:hover .slider .skill-slides i {
  transform: scale(1.1);
  filter: grayscale(0%);
}

#about .about-details .out-desc:hover .slider .skill-slides i.fa-html5 {
  color: #e34c26;
}

#about .about-details .out-desc:hover .slider .skill-slides i.fa-css3-alt {
  color: #1572B6;
}

#about .about-details .out-desc:hover .slider .skill-slides i.fa-square-js {
  color: #e9ce00;
}

#about .about-details .out-desc:hover .slider .skill-slides i.fa-bootstrap {
  color: #563d7c;
}

#about .about-details .out-desc:hover .slider .skill-slides i.fa-react {
  color: #00c8ff;
}

#about .about-details .out-desc:hover .slider .skill-slides i.fa-github {
  color: #565555;
}

#about .about-details .explore {
  position: relative;
  left: 48%;
  bottom: 17%;
  background: #f7f0e7;
  width: 45%;
  height: 17%;
  border: 2px solid #000;
  border-radius: 10px;
  box-shadow: #000 9px 9px 0;
  transition: all 0.3s ease-in-out;
}

#about .about-details .explore:hover {
  box-shadow: 0px 0px 0px;
}

#about .about-details .explore p {
  font-size: 1.5rem;
  font-weight: 900;

}

#about .expertize {
  grid-column: span 3 / span 3;
  grid-row: span 5 / span 5;
  grid-column-start: 3;
  grid-row-start: 1;
}

#about .expertize .heading {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #eece9d;
  border: 2px solid #000;
  border-radius: 26px;
  box-shadow: #000 8px 8px 0;
}

#about .expertize .heading h5 {
  font-size: 3rem;
  font-weight: 900;
  margin: 1rem;
}

#about .expertize .heading .story {
  font-size: 3rem;
  font-weight: 900;
}

#about .expertize .desc {
  filter: drop-shadow(6px 6px 13px #495057);
}

#about .expertize .desc-inside {
  position: relative;
  padding: 20px;
  background: #f2dfb9;
  margin-top: 15px;
  min-height: 605px;
  width: 750px;
  clip-path: path("M 0,0 L 720,0 A 25,20 0 0 1 750,20 L 750,350 L 753,355 A 2,-2 0 0 0 420,605 L 20,605 A 20,20 0 0 1 0,585 L 0,0 L 0,20 A 20,20, 0 0 1 20,0 Z");
}

#about .expertize .desc-inside p {
  font-size: 1.2rem;
  line-height: 1.5;
  color: #000;
}

#about .expertize .desc-inside .increasing-number {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 410px;
  padding: 25px;
}

#about .expertize .desc-inside .increasing-number .num-box {
  display: flex;
  padding: 20px 0;
  align-items: center;
}

#about .expertize .desc-inside .increasing-number .num {
  display: flex;
  font-size: 2rem;
  font-weight: 900;
  box-shadow: inset -2px -2px 9px #00000047, inset -2px 16px 12px #3939397d;
  width: 16%;
  height: 88px;
  border-radius: 16px;
  align-items: center;
  justify-content: center;
}

#about .expertize .desc-inside .increasing-number .text {
  font-size: 1.2rem;
  margin-left: 13px;
}

#about .more {
  grid-column-start: 5;
  grid-row-start: 5;
  position: relative;
  width: 300px;
  height: 300px;
  right: 33%;
  bottom: 120%;
  border: 0;
  border-radius: 50%;
  background: #f2dfb9;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: all 0.5s ease-in-out;
}

#about .more:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 0px;
}

#about .more .more-text {
  position: absolute;
  inset: -10px;
  animation: text-rotation 8s linear infinite;

  >span {
    position: absolute;
    transform: rotate(calc(23deg * var(--index)));
    inset: 10px;
  }
}

@keyframes text-rotation {
  to {
    rotate: 360deg;
  }
}

#about .more .more-text .text {
  font-size: 2rem;
  font-weight: 900;
}

#about .more .more-circle {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 190px;
  height: 190px;
  left: 18%;
  bottom: 1%;
  overflow: hidden;
  background: #ffe085;
  border-radius: 50%;
  box-shadow: inset -2px -2px 9px #00000047, inset -2px 16px 12px #3939397d;
}

#about .more .more-circle .arrow-diagonal {
  font-size: 7rem;
  font-weight: 900;
}

#about .more:hover .arrow-diagonal {
  transform: rotate(45deg);
  transition: all 0.3s ease-in-out;
}

#services {
  padding: 55px 0;
}

#services .heading {
  padding: 40px 0;
  text-align: center;
}

#services .heading h3 {
  justify-self: center;
  font-size: 3rem;
  font-weight: 900;
  border: 5px solid #007ba7;
  border-radius: 10px 26px;
  width: 35%;
}

#services .heading h3::before,
#services .heading h3::after {
  content: "";
  position: absolute;
  bottom: -113.5%;
  width: 15px;
  height: 15px;
  background: #007ba7;
  border-radius: 50%;
}

#services .heading h3::before {
  left: 30%;
}

#services .heading h3::after {
  right: 30%;
}

#services .services-pic {
  width: 100%;
  height: auto;
  overflow: hidden;
}

#services .services-pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#services .card {
  width: 90%;
  padding: 20px;
  box-shadow: #000 20px 14px 0px;
  border: 2px solid #000;
  border-radius: 16px;
  transition: all 0.3s ease-in-out;
}

#services .card:hover {
  border: none;
  box-shadow: #000 0px 0px 0px;
  background: #e9ce00;
}

#services .card .display {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

#services .card .display img {
  width: 70%;
  height: 230px;
  object-fit: contain;
}

#services .card .desc {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #f0f0f0;
  padding: 20px;
  border: 2px solid #000;
  border-radius: 16px;
  transition: all 0.1s ease-in-out;
  opacity: 0;
}

#services .card:hover .desc {
  opacity: 1;
}

#services .card .desc .logo {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 10px;
}

#services .card .desc .logo .logo-img {
  display: flex;
  background: #e9ce00;
  width: 55px;
  height: 55px;
  border: 1px dotted #000;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}

#services .card .desc .logo img {
  width: 35px;
  height: 35px;
}

#services .card .desc .logo h5 {
  font-size: 1.2rem;
  font-weight: 600;
  color: #333;
}

#projects {
  padding: 55px 0 50px;
}

#projects .heading {
  padding: 40px 0;
  text-align: center;
}

#projects .heading h3 {
  justify-self: center;
  font-size: 3rem;
  font-weight: 900
}

#contact {
  padding: 120px 0 130px;
  background-image: url(../images/contact/contact-bg.jpg);
}

#contact .contact-details {
  display: flex;
  justify-content: center;
  justify-self: center;
  align-items: center;
  width: 70%;
  background: #ffffff6b;
  backdrop-filter: blur(8px);
  border: 2px solid #6c757d70;
  border-radius: 24px;
}

#contact .contact-details .form {
  padding: 25px;
  margin: 25px;
  width: 70%;
}

#contact .contact-details .form h5 {
  font-size: 3rem;
  font-weight: 900;
}

#contact .contact-details .form p {
  font-size: 1rem;
  line-height: 0;
  margin: 0 0 20px;
}

#contact .contact-details .form .form-label {
  margin-top: 1rem;
  margin-bottom: 0.2rem;
}

#contact .contact-details .form button {
  width: 95%;
  margin-left: 0.5rem;
  margin-top: 1rem;
  padding: 12px 24px;
  border: none;
  border-radius: 26px;
  background: #007ba7;
}

#contact .contact-details .desc {
  align-self: start;
  margin-top: 25px;
  background: #ffc107;
  padding: 25px;
  margin-right: 35px;
  border: 2px solid #6c757d70;
  border-radius: 26px;
}

#contact .contact-details .desc h5 {
  font-size: 2rem;
  font-weight: 900;
  line-height: 1.2;
}

#contact .contact-details .desc img {
  position: absolute;
  top: 50%;
  left: 25%;
  width: 100%;
  height: 365px;
  object-fit: contain;
}

#contact .contact-details .desc .email,
#contact .contact-details .desc .phone,
#contact .contact-details .desc .address {
  display: flex;
}

#contact .contact-details .desc .email {
  margin-top: 20px;
}

#contact .contact-details .desc .email i {
  font-size: 1.4rem;
  margin-top: 3px;
  margin-right: 10px;
  color: #004ac1;
}

#contact .contact-details .desc .details .address img {
  position: static;
  width: 10%;
  height: 30px;
}

#contact .contact-details .desc .phone i {
  font-size: 1.5rem;
  margin-top: 3px;
  margin-right: 10px;
  transform: rotate(12deg);
  color: #004ac1;
}


#contact .contact-details .desc .socials {
  margin-top: 20px;
}

#contact .contact-details .desc .social-icon {
  margin: 10px;
}

#contact .contact-details .desc .facebook {
  background: #3b5998;
  color: #fff;
  border-radius: 50%;
  padding: 10px 15px;
}

#contact .contact-details .desc .instagram {
  background: linear-gradient(to right, #833ab4, #fd1d1d, #fcb045);
  color: #fff;
  border-radius: 50%;
  padding: 11px 10px;
}

#contact .contact-details .desc .instagram i {
  position: relative;
  font-size: 1.5rem;
  top: 3px;
}

#contact .contact-details .desc .linkedin {
  background: #0077b5;
  color: #fff;
  border-radius: 50%;
  padding: 11px 10px;
}

#contact .contact-details .desc .linkedin i {
  position: relative;
  font-size: 1.5rem;
  top: 3px;
}

#contact .contact-details .desc .github {
  background: #333;
  color: #fff;
  border-radius: 50%;
  padding: 11px 10px;
}

#contact .contact-details .desc .github i {
  position: relative;
  font-size: 1.5rem;
  top: 3px;
}

.scroll-to-top {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  border: 1px solid;
  background: linear-gradient(90deg, rgba(206, 133, 246, 1) 0%, rgba(132, 162, 245, 1) 19%, rgba(132, 208, 245, 1) 39%, rgba(127, 248, 164, 1) 61%, rgba(255, 255, 131, 1) 81%, rgba(250, 128, 148, 1) 100%);
  box-shadow: #000 6px 6px 15px;
  cursor: pointer;
  opacity: 0;
  z-index: 9999;
}

.scroll-to-top:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0 0;
}

.scroll-to-top.show {
  opacity: 1;
  pointer-events: auto;
}

.scroll-to-top i {
  font-size: 3rem;
  color: #4f4f4f;
  transition: all 0.3s ease-in-out;
}

#particles-js {
  position: absolute;
  left: 0;
  width: 100%;
  height: 345px;
  z-index: -1;
}

canvas {
  transform: scaleY(1);
}

#footer {
  position: relative;
  width: 99vw;
  height: 42vh;
  z-index: 0;
}

#footer .row {
  position: relative;
  top: 2rem;
  padding: 15px 25px;
  border-radius: 26px;
  background: #4cd0ff;
  box-shadow: 20px 15px 20px #000000a8;
}

#footer .row .logo {
  display: flex;
  align-items: center;
}

#footer .row .logo img {
  width: 100px;
  height: 100px;
  margin-right: 1rem;
}

#footer .row .logo .desc p {
  font-size: 2rem;
  font-weight: 900;
  margin: 0;
}

#footer .row .logo .desc p.small {
  position: relative;
  bottom: 0.5rem;
  font-size: 1.5rem;
  font-weight: 500;
  margin: 0;
}

#footer .row .footer-details .logo-desc {
  margin-top: 1rem;
  font-style: italic;
}

#footer .row .footer-details .socials {
  margin-top: 1.2rem;
}

#footer .row .footer-details .socials a {
  padding: 15px;
  border-radius: 50%;
  margin: 0 1rem;
  font-size: 1.5rem;
}

#footer .row .footer-details .socials a.facebook {
  background: #3b5998;
  color: #fff;
}

#footer .row .footer-details .socials a.instagram {
  background: linear-gradient(to right, #833ab4, #fd1d1d, #fcb045);
  color: #fff;
}

#footer .row .footer-details .socials a.linkedin {
  background: #0077b5;
  color: #fff;
}

#footer .row .footer-details .socials a.github {
  background: #333;
  color: #fff;
}

#footer .row .links {
  width: 100%;
  margin-left: 7rem;
}

#footer .row .links h5 {
  font-size: 1.5rem;
  font-weight: 900;
  border-bottom: 2px solid #ffffff8a;
  padding-bottom: 0.8rem;
  width: 35%;
}

#footer .row .links li {
  list-style: inside;
  transition: all 0.3s ease-in-out;
}

#footer .row .links li:hover {
  text-decoration: underline;
}

#footer .row .links li a {
  color: #000;
}

#footer .row .contact-details .address,
#footer .row .contact-details .email,
#footer .row .contact-details .number {
  display: flex;
}

#footer .row .contact-details .address i,
#footer .row .contact-details .email i,
#footer .row .contact-details .number i {
  font-size: 2rem;
  margin: 0.5rem 1rem;
}

#footer .row .contact-details .address p {
  margin-top: 5px;
  width: 80%;
  font-size: 1rem;
}

#footer .row .contact-details .email p {
  margin-top: 15px;
}

#footer .row .contact-details .number p {
  margin-top: 5px;
}

#footer .row .copyright {
  margin-top: 0.2rem;
  border-top: 2px solid #ffffff59;
  padding-top: 1rem;
  width: 80%;
}

#footer .row .copyright p {
  margin: 0;
}

#footer .row .copyright p i {
  margin-right: 15px;
}

/**-----------------------------------------------**/
/*MODAL FORM*/

.modal {
  position: absolute;
  backdrop-filter: blur(30px);
  z-index: 9999;
}

.modal .modal-content {
  background: url(../images/modal/bg-img.jpg);
  padding: 10px 15px;
  border-radius: 12px;
  background-repeat: no-repeat;
  background-size:100%;
}

.modal .modal-title {
  font-size: 2.5rem;
  font-weight: 900;
  padding: 5px;
  background: #ffffff38;
  backdrop-filter: blur(2px);
  border-radius: 16px;
  color: #fff;
}

.modal .modal-body {
  display: flex;
}

.modal .modal-body img {
  position: absolute;
  left: 50%;
  bottom: -2%;
  width: 52%;
  height: 652px;
  object-fit: cover;
  border-radius: 0 12px 12px 0;
  z-index: -1;
}

.modal .form-label {
  font-size: 1.5rem;
  font-weight: 900;
  color: #ffc107;
  margin: 10px auto;
  text-shadow: 5px 5px 4px #000;
}

.modal button.btn {
  margin-top: 20px;
  margin-left: 10px;
  width: 95%;
  background: #ffc107;
  border: 2px solid #000;
  color: #000;
  box-shadow: 6px 6px 0 #FFF;
  transition: all 0.3s ease-in-out;
}

.modal button.btn:hover {
  box-shadow: 0px 0px 0px;
}

/**-----------------------------------------------**/

.none {
  display: none;
}